.parent {
    /* display: flex; */
    /* flex-direction: column; */
}

.box1 {
    background-color: red;
    width: 300px;
    height: 300px;
}

.box2 {
    background-color: green;
    width: 600px;
    height: 300px;
}

.box3 {
    background-color: blue;
    width: 300px;
    height: 300px;
}



/* mobile app screen 500px */
/* @media only screen and (max-width :500px) {
    .box2 {
        background-color: blue;
    }
} */


/* @media only screen and (max-width:600px) {
    .box2{
        width: 100%;
        background-color: red;
    }
} */


/* sm=> 500 */
/* md=> 501 to 700 */
/* lg=> 701 to max */

.heading {
    font-size: 80px;
}


/* @media only screen and (max-width: 700px) {
    .heading {
        font-size: 40px;
        color: red;
    }
}

@media only screen and (max-width : 500px) {
    .heading {
        font-size: 20px;
        color: blue;
    }
} */
